p {
    color: black;
    font-family: 'Press Start 2P', system-ui;
    
}
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    
}
body {
    margin: 0;
    padding: 0;
    background-image: url('images/nintendo-xenoblade-chronicles-x-monolith-soft-wii-u-wallpaper-0b8a4144b8f8078b62fe49440a374436.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    height: 100vh;  
    color: #000000;
}


.content {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Press Start 2P', system-ui;
}

.colored-box {
    background-color: transparent;
    padding: 10px;
    color: #0addf0;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Press Start 2P', system-ui;
}

.custom-form button {
    background-color: #2ecc71;
    color: #000000;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
h2 {
text-align: center;
cursor: pointer;
border: none;
font-size: medium;
margin-top: auto;

}
footer {
    color: black;
}
a {
    color: black;
}
